.header-detail .button-trailer{
    width: 100%;
}
.container-detail .films-similaires{
    margin: 0;
    background: url("./bkg-mobile-detail.jpg") no-repeat center ;
    background-position-y: 0;
    text-align: center;
    height: 100vh;
}

@media (min-width: 507px) { 
    .container-detail .films-similaires {
        background: url("./bkg-pc-detail.jpg") no-repeat center ;
        background-position-y: 1em;
        height: 100vh;
    }
   
}
