
.list-container{
    position: relative;
}

.scoll-list{
    padding: 0;
    margin-bottom: 80px;
}

.scoll-list_item{
    text-align: center;
}

.chargement{
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left:-35px;
}