body{
    margin:0;
}

.list-infos-film, .films-similaires{
    padding:2em;
}

.image-poster{
    background-color:black;
    height:50vh;
    background-size: cover;
}

.header-detail .titre{
    position: absolute;
    height: 50vh;
    background-color: #00000024;
}

.header-detail h2{
    color:white;
    padding-top: 4em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    font-size: 1.7em;
    text-shadow: 0px 0px 7px rgba(0,0,0,0.87);
}

.header-detail h2:after{
    position: absolute;
    border-bottom:3px solid #ff3c35;
    width: 10vh;
    height:5px;
}

.list-infos-film .info li{
    display: inline;
    font-weight:600;
    font-size:15px;
}

.list-infos-film .info2 li{
    font-weight:600;
}
.list-infos-film .info2{
    padding-top: 0.5em;
    font-size:15px;
}

.list-infos-film ul{
    list-style: none;
}

.list-infos-film .info li:not(.no-bar){
    border-right: 2px solid #fe5e18;
    padding-right: 1em;
    margin-right:1em;
}
.list-infos-film ul {
    padding-left: 0;
    margin: 0;
    margin-top: 0.5em;
}
.list-infos-film .info .right{
    border-right: 2px solid #fe5e18;
    padding-right: 1em;
    margin-right:1em;
}

p.description-film {
    margin-top: 4em;
}

.container-detail .films-similaires{
    margin: 0;
    background: url("./bkg-mobile-detail.jpg") no-repeat center ;
    background-position-y: 0;
    text-align: center;
    height: 5vh;
} 

.displayNon{
    display: none;
}

.button-play {
    left: 74%;
}

.titre .bouton-fleche {
    width: 40px;
    margin-left: 0;
    margin-top: 2vh;
    position: absolute;
}

@media (min-width: 576px) { 
    .container-detail .films-similaires {
        background: url("./bkg-pc-detail.jpg") no-repeat center ;
        background-position-y: 1em;
    }
    .header-detail .titre{
        position: absolute;
        height: 50vh;
        background-color: #00000024;
    }
}

@media (min-width:768px){
    .liste-detail{
        padding-left: 5em;
        padding-right: 5em;
    }
    .titre {
        padding-left: 5.1em;
    }

    .titre .bouton-fleche {
        margin-left: -60px;
        position: absolute;
    }
}