.button-play,.button-close {
    cursor: pointer;
    position: absolute;
    top:0;
    top:44vh;
    z-index: 1;
}

.video-bg{
    background-color: #000000;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.video-container{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.button-close {
    top: 0;
    right: 0;
    margin-top: -84px;
}

iframe{
    max-width:100%;
    max-height:100%;
}
